<% if current_user.admin? %>
<h2> Список профілів </h2>
<ul>
  <% @users.each do |u| %>
    <% if u != current_user%>
  <li>
      <%= u.email %>
      <div class ="btn-group">

      <%= button_to 'Видалити аккаунт', admin_destroy_user_path(u), :class => 'btn btn-danger btn-sm', :style=>'margin-right:10px;', :method => :delete, data: {:confirm => 'Видалити цього користувача ?'} %>

        <% if !u.admin? && !u.moderator  %>
      <%= button_to 'Зробити адміном', to_admin_path(u), :class => 'btn btn-success btn-sm', :style=>'margin-right:10px;',data: {:confirm => 'Зробити адміном цього користувача ?'} %>
<% elsif !u.admin? && u.moderator?   %>
<%= button_to 'Зробити адміном', to_admin_path(u), :class => 'btn btn-success btn-sm',:style=>'margin-right:10px;', data: {:confirm => 'Зробити адміном цього модератора ?'} %>
        <% end %>

        <% if u.admin?  %>
      <%= button_to 'Зробити юзером', to_user_path(u), :class => 'btn btn-primary btn-sm', :style=>'margin-right:10px;', data: {:confirm => 'Зробити користувачем цього адміна ?'} %>
<% elsif u.moderator?  %>
<%= button_to 'Зробити юзером', to_user_path(u), :class => 'btn btn-primary btn-sm', :style=>'margin-right:10px;', data: {:confirm => 'Зробити користувачем цього модератора ?'} %>
        <% end %>

        <% if !u.moderator? && !u.admin?  %>
      <%= button_to 'Зробити модератом', to_moderator_path(u), :class => 'btn btn-warning btn-sm',:style=>'margin-right:10px;', data: {:confirm => 'Зробити модератором цього користувача ?'} %>
<% elsif !u.moderator? && u.admin?   %>
<%= button_to 'Зробити модератом', to_moderator_path(u), :class => 'btn btn-warning btn-sm',:style=>'margin-right:10px;', data: {:confirm => 'Зробити модератором цього адміна ?'} %>
        <% end %>
        <% end %>
    </li>
    <br>
  <% end %>
</ul>
</div>
<% else %>
<p>Ця сторінка обмежена</p>
<%= link_to '<button type="button" class ="btn btn-danger ">В головне меню</button>'.html_safe, posts_path %>
<% end %>
